doctype html
html
  head
    title Harry's Dance Academy
    block scripts
    block style 
    
  body
    nav#navbar
        ul 
            div#logo 
                img(src="/static/img4.png", alt="")
                | HDA
            li #[a(href="/") Home] 
            li #[a(href="/") About]
            li #[a(href="/") Servicess]
            li #[a(href="/") Class Info]
            li #[a(href="/contact") Contact Us]  
    block content
    footer#footer 
        | Copyright © 2019 HarryAcademy.com | All Rights Reserved 